
	/* Шрифты взяты с: https://github.com/maxwell-k/dejavu-sans-mono-web-font */

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: normal;
	font-weight: normal;
	src: url(fonts/DejaVuSansMono.woff) format("woff");
	}

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: normal;
	font-weight: bold;
	src: url(fonts/DejaVuSansMono-Bold.woff) format("woff");
	}

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: oblique;
	font-weight: bold;
	src: url(fonts/DejaVuSansMono-BoldOblique.woff) format("woff");
	}

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: oblique;
	font-weight: normal;
	src: url(fonts/DejaVuSansMono-Oblique.woff) format("woff");
	}

	/* Шрифт и цвет символов на всех страницах */

	body {
	font-family: DejaVu Sans Mono_;
	font-size: 73%;
	color: #333333;
	}

	/* Параграф */

	p {
	line-height: 16px;
	}

	/* Цвет ссылкам. */

	a {
	color: #0144b4;
	text-decoration: none;
	}

	a:visited { 
	color: #0144b4;
	text-decoration: none;
	}

	a:hover{
	color: #0144b4;
	text-decoration: underline;
	}

	select {
	width: 64px;
	background: #ffffff;
	}

	/* Горизонтальная линия */

	hr {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #aaaaaa; /* Цвет линии для браузера Firefox и Opera */
	color: #aaaaaa;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	}

	/* Размер шрифта для Hobby */

	.texthobby {
	font-size: 300%;
	color: #333333;
	}

	/* Горизонтальная линия для Hobby */

	.hrwhite {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #dcdcdc; /* Цвет линии для браузера Firefox и Opera */
	color: #dcdcdc;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	}

	/* Иконка */

	.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	}

	/* Кнопка с текстом */

	.txtbutton {
	background: #f6f8fa;
	background: linear-gradient(to top, #f6f8fa, #ffffff);
	border: 1px solid #bfd1e5;
	border-radius: 2px;
	padding: 4px 10px 4px 10px;
	}

	/* Кнопка с текстом (маленькая) */

	.txtbuttonsmall {
	background: linear-gradient(to top, #f6f8fa, #ffffff);
	border: 1px solid #bfd1e5;
	border-radius: 2px;
	padding: 3px 8px 3px 8px;
	font-size: 11px;
	}

	/* Иконки бесплатное ПО */

	.iconfreeurl {
	background: #f6f8fa;
	background: linear-gradient(to top, #f6f8fa, #ffffff);
	border: 1px solid #bfd1e5;
	border-radius: 2px;
	padding: 4px 10px 4px 10px;
	}

	/* Фон и бордюр для radio buttons в CALCDIV */

	.calcdivbgradiobutton {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	padding: 4px;
	}

	/* Наружный отступ сверху для radio buttons в CALCDIV */

	.calcdivrbmargint {
	margin-top: 8px;
	}

	/* Не показывать стандартный radio button в CALCDIV */

	.calcdivradiobutton {
	display: none;
	}

	/* Неактивный radio button в CALCDIV */

	.calcdivradiobutton + label {
	background: url("images-calcdivr2-rb/radio-false.png") no-repeat scroll 0 0;
	cursor: pointer;
	padding: 0px 0px 1px 15px;
	}

	/* Активный radio button в CALCDIV */

	.calcdivradiobutton:checked + label {
	background: url("images-calcdivr2-rb/radio-true.png") no-repeat scroll 0 0;
	}

	/* Цвет тексту radio button в CALCDIV */

	.calcdiv_label_radio {
	color: #006699;
	}

	/* При наведении на radio button в CALCDIV */

	.calcdiv_label_radio:hover{
	color: #006699;
	text-decoration: underline;
	}

	/* Внутренний нижний отступ для radio button в CALCDIV */

	.calcdivrbpaddingb {
	padding-bottom: 1px;
	}

	/* Внутренний правый отступ для radio button в CALCDIV */

	.calcdivrbpaddingr {
	padding-right: 4px;
	}

	/* Маленький шрифт */

	.calcdivsmalltxt {
	font-size: 11px;
	}

	/* Заголовок 1 на странице CALCDIV (фон и бордюр) */

	.calcdivpagebgh1 {
	background: #f1f8ff;
	border: 1px solid #f1f8ff;
	padding: 4px 4px 4px 4px;
	color: #022169;
	width: 100%;
	font-size: 19px;
	}

	/* Заголовок 2 на странице CALCDIV (фон и бордюр) */

	.calcdivpagebgh2 {
	background: #f0f4f7;
	border: 1px solid #f0f4f7;
	color: #022169;
	width: 720px;
	font-size: 15px;
	padding: 2px;
	}

	/* Заголовок 3 на странице CALCDIV */

	.calcdivpagebgh3 {
	font-size: 13px;
	}

	/* Фон и бордюр для [ Warning 1 ] на странице CALCDIV */

	.calcdivbgwarning_1 {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	padding: 4px;
	width: 400px;
	}

	/* Фон и бордюр для [ Warning 2 ] на странице CALCDIV */

	.calcdivbgwarning_2 {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	padding: 4px;
	width: 320px;
	}

	/* Горизонтальная линия для [ Warning ] на странице CALCDIV */

	.calcdivwarninghr {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #e0e2e4; /* Цвет линии для браузера Firefox и Opera */
	color: #e0e2e4;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	}

	/* CALCDIV */
	/* Цвет примечанию. Наведите курсор мыши на формулу (будет подсказка)! */

	.calcdivcolorpromptf {
	color: #004f00;
	}

	/* Фон и Бордюр для формул и расчётов на странице CALCDIV */

	.calcdivpagebgfc {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	margin-top: 8px;
	padding: 4px;
	width: 612px;
	}

	/* Горизонтальная разделяющая линия для формул и расчётов на странице CALCDIV */

	.calcdivpagefchr {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #e0e2e4; /* Цвет линии для браузера Firefox и Opera */
	color: #e0e2e4;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	width: 512px;
	}

	/* Номер калькулятора CALCDIV (фон и бордюр) */

	.calcdivn {
	background: #f0f4f7;
	background: linear-gradient(to top, #f0f4f7, #ffffff);
	border: 1px solid #bfd1e5;
	font-size: 24px;
	padding: 0px 8px 0px 8px;
	height: 32px;
	}

	.calcdivnvalign {
	vertical-align: bottom;
	}

	/* Загаловок калькулятора CALCDIV (фон и бордюр) */

	.calcdivbgtitle {
	background: #f0f4f7;
	border: 1px solid #f0f4f7;
	height: 28px;
	color: #022169;
	width: 720px;
	font-size: 15px;
	margin-bottom: 4px;
	}

	/* Фон и Бордюр самого калькулятора CALCDIV */

	.calcdivbg {
	background: #f5f7f9;
	border: 1px solid #e0e2e4;
	padding: 4px;
	width: 720px;
	}

	/* Фон и Бордюр для схемы в калькуляторе CALCDIV */

	.calcdivbgscheme {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	padding: 4px;
	width: 55%;
	}

	/* Отступы в калькуляторе CALCDIV */
	/* Ввод данных                    */

	.calcdivtdpadding {
	padding: 2px 0px 2px 0px;
	}

	/* Цвет текста в калькуляторе CALCDIV */
	/* Вввод данных                       */

	.calcdivinputcolortext {
	color: #333333;
	}

	/* Горизонтальная линия в калькуляторе CALCDIV */

	.calcdivhr {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #c0c2c4; /* Цвет линии для браузера Firefox и Opera */
	color: #c0c2c4;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	}

	/* Отступы в калькуляторе CALCDIV (нижний отступ) */

	.calcdivtdpaddingbottom {
	padding-bottom: 6px;
	}

	/* CALCDIV */
	/* Цвет примечанию. Наведите курсор мыши на поле ввода (будет подсказка)! */
	/* Цвет примечанию. Наведите курсор мыши на переменные (будет подсказка)! */

	.calcdivcolorprompt1 {
	color: #005f00;
	}

	/* Цвет вопросов в калькуляторе CALCDIV */

	.calcdivcolorquestions {
	color: #ff0000;
	}

	/* Цвет результата в калькуляторе CALCDIV */

	.calcdivcolorresult {
	color: #007f00;
	}

	/* Цвет вертикальным линиям в калькуляторе CALCDIV */

	.calcdivtdcolorline {
	color: #b0b2b4;
	}

	/* Заголовок спойлера для калькулятора CALCDIV2 */

	.calcdivspoiler { /* Без наведения */
	color: #006699;
	text-decoration: none;
	cursor: pointer;
	}

	.calcdivspoiler:hover{ /* При наведении */
	color: #006699;
	text-decoration: underline;
	}

	.calcdivspoiler:visited { /* Визит */
	color: #006699;
	text-decoration: none;
	}

	/* Фон и Бордюр для формул в калькуляторе CALCDIV */

	.calcdivbgformulas {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	margin-top: 8px;
	padding: 4px;
	width: 612px;
	}

	/* Фон и бордюр для основной формулы в калькуляторе CALCDIV */

	.calcdivbgformulasbasis {
	background: #ffffff;
	border: 1px solid #e0e2e4;
	padding: 4px 6px 4px 6px;
	}

	/* Размер поля (длина) ввода чисел в калькуляторе CALCDIV */

	.calcdivnumber {
	width: 128px;
	}

		/* --- */
		/* BSS */
		/* --- */

		/* Ближайшее стандартное сопротивление (БСС) */

		/* BSS */
		/* Отцентровать */

		.bscenteriframe {
		display: flex;
		align-items: center;
		justify-content: center;
		}

		/* BSS */
		/* Заголовок */

		.bstitle {
		background: #f0f4f7;
		border: 1px solid #f0f4f7;
		padding: 0px 4px 0px 4px;
		height: 16px;
		color: #022169;
		width: 800px;
		font-size: 1.2em; /* 14px */
		}

		/* BSS */
		/* Горизонтальная линия, для онлайн калькулятора БСС */

		.bs_hr {
		width: 800px;
		}

		/* BSS */
		/* Фон и бордюр, для онлайн калькулятора БСС */

		.bsbg1 {
		background: #ffffff;
		border: 1px solid #c3c6c6;
		padding: 12px 12px 6px 12px;
		}

		/* BSS */
		/* Фон и бордюр, для онлайн калькулятора БСС */
		/* Выбор E24, E48, E96 */

		.bsbg2 {
		background: #ffffff;
		border: 1px solid #c3c6c6;
		padding: 6px;
		}

		/* BSS */
		/* Фон и бордюр, для: Введите сопротивление */

		.bsbg3 {
		/* background: #ffffff; */
		/* border: 1px solid #c3c6c6; */
		padding: 6px;
		}

		/* BSS */
		/* Размер поля ввода в px (ввод сопротивления) */

		.bsinputpx {
		width: 96px;
		}

		/* BSS */
		/* Отступы для расчёта (ответа) */

		.bsr {
		padding-top: 6px;
		padding-bottom: 6px;
		}

		/* BSS */
		/* Цвет вопроса */

		.bsrquestion {
		color: #ff0000;
		}

		/* BSS */
		/* Цвет результата (ответа) */

		.bsranswer {
		color: #007f00;
		}

		/* --- */

		/* BSS */
		/* Не показывать стандартный Radio Button */

		.bsradiobutton {
		display: none;
		}

		/* BSS */
		/* Неактивный Radio Button */

		.bsradiobutton + label {
		background: url("images-calcbs-rb/radio-false.png") no-repeat scroll 0 0;
		cursor: pointer;
		padding: 0px 0px 1px 15px;
		}

		/* BSS */
		/* Активный Radio Button */

		.bsradiobutton:checked + label {
		background: url("images-calcbs-rb/radio-true.png") no-repeat scroll 0 0;
		}

		/* BSS */
		/* Цвет тексту Radio Button */

		.bs_label_radio {
		color: #006699;
		}

		/* BSS */
		/* При наведении на Radio Button */

		.bs_label_radio:hover{
		color: #006699;
		text-decoration: underline;
		}

		/* BSS */
		/* Внутренний нижний отступ для Radio Button */

		.bsrbpaddingb {
		padding-bottom: 1px;
		}

		/* BSS */
		/* Внутренний правый отступ для Radio Button */

		.bsrbpaddingr {
		padding-right: 4px;
		}

		/* --- */

		/* BSS */
		/* Модальное окно */

		.bsmodalwin {
		height: auto; /* Высота окна */
		width: 860px; /* Ширина окна */
		border: 3px solid #999999; /* Тощина и цвет рамки */
		border-radius: 4px;        /* Закругленные края   */
		background: #ffffff;       /* Фон окна            */

		padding: 12px 12px 12px 12px; /* Внутренние отступы по краям */

		top: 64px; /* Сверху до окна */
		right: 0;  /* Справа до окна */
		left: 0;   /* Слева до окна  */

		font-size: 12px; /* Размер шрифта */
		margin: 0 auto;

		z-index: 2;      /* Поверх всех     */
		display: none;   /* Сначала невидим */
		position: fixed; /* Фиксированное позиционирование, окно стабильно при прокрутке */
		}

			/* BSS */
			/* При выводе модального окна, затемнение страницы */

			#shadowbs {
			position: fixed;

			left: 0; /* Затемнение слева  */
			top: 0;  /* Затемнение сверху */

			width: 100%;  /* По ширине растянуть на весь экран */
			height: 100%; /* По высоте растянуть на весь экран */

			z-index: 1;          /* Поверх всех кроме окна */
			background: #000000; /* Цвет затемнения        */
			opacity: 0.2;        /* Прозрачность           */
			}

	/* -------------- */
	/* Окно закон Ома */
	/* -------------- */

	/* ZOm */
	/* Заголовок: Формулы */

	.zomtitle {
	background: #f0f4f7;
	border: 1px solid #f0f4f7;
	padding: 0px 4px 0px 4px;
	height: 16px;
	color: #022169;
	width: 100%;
	font-size: 14px;
	}

	/* ZOm */
	/* Всплывающее окно с формулами */

	.pop-up-window_zom {
	width: auto;   /* Ширина окна */
	height: auto;  /* Высота окна */
	border: 2px solid #999999; /* Тощина и цвет рамки */
	border-radius: 4px;        /* Закругленные края   */
	background: #ffffff;       /* Фон окна            */

	padding: 12px 12px 12px 12px; /* Внутренние отступы покраям */

	/* Окно в правом верхнем углу */
	top: 16px;    /* Сверху до окна */
	right: 16px;  /* Справа до окна */

	margin: auto 0 auto auto;
	font-size: 12px; /* Размер шрифта */

	z-index: 1;      /* Поверх всех     */
	display: none;   /* Сначала невидим */
	position: fixed; /* Фиксированное позиционирование, окно стабильно при прокрутке */
	}
